.contactParagraph {
  margin-bottom: 50px;
}

@media screen and (max-width: 950px) {
  .contactParagraph {
    margin-bottom: 40px;
  }
}

.formSection {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.contactForm {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 25px;
}

@media screen and (max-width: 950px) {
  .formSection {
    flex-direction: column-reverse;
    align-items: center;
  }
  .contactForm {
    width: 100%;
    max-width: 500px;
  }
}

@media screen and (max-width: 560px) {
  .firstRow {
    flex-direction: column;
  }
}

.contactForm input,
.contactForm textarea,
.contactForm button {
  border: 1px solid var(--color-border);
  border-radius: 15px;
  width: 100%;
  padding: 15px 20px;
  /* border: transparent; */
  background-color: var(--color-bg-secondary);
  color: var(--color-text-primary);
}

.contactForm input::placeholder,
.contactForm textarea::placeholder {
  opacity: 0.9;
}

.contactForm input:focus,
.contactForm textarea:focus,
.contactForm button:focus {
  outline: none;
  border: 1px solid var(--color-text-primary);
}

.firstRow {
  display: flex;
  gap: 25px;
}

.textArea {
  resize: none;
}

.contactForm button {
  cursor: pointer;
  /* font-weight: 500; */
  color: var(--color-text-primary);
  transition: all 0.5s;
}

.contactForm button:hover {
  color: var(--color-bg-primary);
  border: 1px solid var(--color-text-primary);
  background-color: var(--color-text-primary);
}

.formSectionImage {
  flex-basis: 40%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

@media screen and (max-width: 950px) {
  .formSectionImage {
    display: none;
  }
}
