.imageContainer {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  opacity: 0.9;
}

.orbOne {
  width: 25%;
  position: absolute;
  top: 30%;
  z-index: 4;
  animation: floating 15s ease infinite;
}

.orbOne::before {
  content: "";
  position: absolute;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 999px;
  /* background-color: red; */
  transform: translateY(-50%);
  animation: orbGradient 80s ease infinite;
  animation-direction: alternate;
}

.orbTwo {
  width: 65%;
  position: absolute;
  left: 10%;
  z-index: 3;
  animation: floating 17s ease infinite;
  animation-delay: -10s;
}

.orbTwo::before {
  content: "";
  position: absolute;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 999px;
  /* background-color: green; */
  transform: translateY(-50%);
  animation: orbGradient 60s ease infinite;
  animation-direction: alternate;
  animation-delay: -20s;
}

.orbThree {
  width: 40%;
  position: absolute;
  right: 0%;
  top: 60%;
  animation: floating 22s ease infinite;
  animation-delay: -5s;
}

.orbThree::before {
  content: "";
  position: absolute;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 999px;
  /* background-color: blue; */
  transform: translateY(-50%);
  animation: orbGradient 60s ease infinite;
  animation-direction: alternate;
  animation-delay: -35s;
}

@-webkit-keyframes floating {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}

@keyframes floating {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}

.orbOne::before,
.orbTwo::before,
.orbThree::before {
  background-image: linear-gradient(
    to bottom,
    #f437cd,
    #162aef,
    #f34033,
    #17cfaf,
    #d8a9c1,
    #f437cd,
    #162aef,
    #f34033,
    #17cfaf,
    #d8a9c1,
    #f437cd,
    #162aef,
    #f34033,
    #17cfaf,
    #d8a9c1
  );
  background-size: 100% 1500%;
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.12);
}

@keyframes orbGradient {
  0%,
  100% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 100%;
  }
}

/* Animation first seen on https://alexjpate.com/ */
