.titleSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 30px;
}

@media screen and (max-width: 700px) {
  .titleSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-bottom: 40px;
  }
}

.heroTitle {
  line-height: 1.35;
  margin-block: auto;
}

.heroTitle h1,
.heroTitle h2 {
  font-size: 3rem;
}

.accented {
  color: var(--color-text-accent);
}

@media (prefers-reduced-motion: no-preference) {
  .animatedGradient {
    --bg-size: 400%;
    --color-one: #f45925;
    --color-two: #f9b11f;
    background: linear-gradient(
        90deg,
        var(--color-one),
        var(--color-two),
        var(--color-one)
      )
      0 0 / var(--bg-size) 100%;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: move-bg 9s infinite linear;
  }
}

@keyframes move-bg {
  to {
    background-position: var(--bg-size) 0;
  }
}

.imageContainer {
  /* change width and height depending on image dimensions */
  width: 224px;
  height: 224px;
  overflow: hidden;
  margin-inline: auto;
  margin-block: auto;
  animation: movingBlob 12s linear infinite, fadeInImageAnimation 2s ease-in-out;
  border: 3px solid var(--color-text-primary);
}
@keyframes movingBlob {
  /* TODO: choose new blobs to make animation more fluid */
  0%,
  100% {
    border-radius: 45% 55% 35% 65% / 47% 30% 70% 53%;
  }
  34% {
    border-radius: 52% 48% 60% 40% / 65% 76% 24% 35%;
  }
  66% {
    border-radius: 50% 50% 31% 69% / 60% 37% 63% 40%;
  }
}

@keyframes fadeInImageAnimation {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media screen and (max-width: 630px) {
  .titleSection {
    display: block;
  }
  .heroTitle {
    text-align: center;
    margin-bottom: 30px;
  }
}

.heroText {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

@media screen and (max-width: 630px) {
  .titleSection {
    display: block;
  }
  .heroTitle {
    text-align: center;
    margin-bottom: 30px;
  }
  .heroText {
    display: block;
    text-align: center;
  }
  .heroText div {
    margin-inline: auto;
  }
  .heroText div:first-child {
    margin-bottom: 20px;
  }
}

.heroText div {
  max-width: 480px;
}

@media screen and (max-width: 700px) {
  .heroText {
    flex-direction: column;
  }
}
