.heroTitle {
  margin-bottom: 30px;
  line-height: 1.35;
}

.accented {
  color: var(--color-text-accent);
}

.heroText {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.heroText div {
  max-width: 480px;
}
