.main {
  padding-top: 50px;
}

.main h1 {
  text-align: center;
  padding-bottom: 10px;
}

.links {
  display: flex;
  gap: 30px;
  justify-content: center;
  position: relative;
}

.links::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 50%;
  background-color: var(--color-border);
  top: 50px;
}

/* to remove */
.tempSpacer {
  padding-bottom: 500px;
}
