.projectCardWrapper {
  border-radius: 8px;
  box-shadow: var(--color-shadow);
  padding: 25px 30px;
  max-width: 560px;
}

.imageWrapper {
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: var(--color-shadow);
}

.imageThumbnail {
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.imageThumbnail:hover {
  transform: scale(1.1);
}

.zoomedIn {
  transform: scale(1.1);
}

.projectLink {
  font-family: "Nunito Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 0.9rem;
}

.projectCardWrapper p {
  color: var(--color-text-ternary);
}

.underlined {
  position: relative;
}

.underlined::before {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 100%;
  height: 1px;
  background-color: var(--color-text-primary);
  transition: all 0.3s ease-in-out;
}
