.imageWrapper {
  overflow: hidden;
  margin-bottom: 20px;
}

.imageThumbnail {
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}

.imageThumbnail:hover {
  transform: scale(1.1);
}

.projectLink {
  font-family: "DM Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 0.9rem;
}

.underlined {
  transition: all 1s;
  position: relative;
}

.underlined::before {
  content: "";
  position: absolute;
  bottom: -5px;
  /* left: 50%; */
  /* right: 0; */
  width: 100%;
  height: 1px;
  background-color: var(--color-text-primary);
  transition: all 0.5s ease-in-out;
}
