.projectsContainer {
  display: flex;
  justify-content: space-between;
  gap: 75px;
}

.projectsContainer {
  margin-bottom: 75px;
}

@media screen and (max-width: 800px) {
  .projectsContainer {
    flex-direction: column;
    align-items: center;
  }
}
