.skillList {
  display: grid;
  grid-template-columns: repeat(auto-fill, 175px);
  gap: 40px;
  padding-left: 0px;
  list-style-type: none;
}

.skillList li {
  /* font-family: "DM Sans", sans-serif;
  font-weight: 500; */
  font-family: "DM Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 0.9rem;
  color: var(--color-text-primary);
  display: flex;
  align-items: center;
  gap: 10px;
}
